body {
    margin: 5px 150px;
    background-image: url("./img/background.jpg");
    background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}

header ul {
display: flex;
list-style:none;
}

header ul li {

}

header li > a {

}

a {
background-color: #dfdfef;
display: block;
text-align: center;
padding: 15px 17px;
text-decoration: none;
height: 20
}

a:hover {
background-color: #b19cd9;
}

li {
border-right: 2px solid #ebcbca;
}

body ul > li:first-child > a {
    border-radius: 5px 0 0 5px;
}

body ul > li:last-child > a {
    border-radius: 0 5px 5px 0;
}

body ul > li:last-child {
    border-right: none;
}

main {
padding-top: 5rem;
}

input {
width: 100%;
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px 15px;
margin: 2px;
box-sizing : border-box;
}

form > .first-row {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.form-field {
display: flex;
flex-direction: column;
margin: 0px 0px 30px;
background-color: #dfdfef;
padding: 10px;
}

form > .second-row {
display: flex;
flex-direction: row;
justify-content: space-between;
}

form > .second-row > .form-field:first-child{
background-color: rgba(255, 0, 0, 0.2);
}

form > .action-button {
display: flex;
justify-content: flex-end;
}

button {
background-color: #ddd;
padding: 16px 32px;
text-align: center;
transition: background-color 1s;
}

#submit {
border-color: #4CAF50;
margin-right: 20px;
}

#submit:hover {
background-color: #4CAF50;
}

#reset {
border-color: #ff0000;
}

#reset:hover {
background-color: #ff0000;
}

#gender > select{
box-sizing: border-box;
padding: 10px;
border: 2px solid #ccc;
border-radius: 4px;
}


.half-row {
width: calc(50% - 30px);
}

.quater-row {
width: calc(25% - 35px);
}
